/* formulario.css */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form h1 {
    color: #4caf50;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #4caf50;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

span {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.confirmation-message {
    margin-top: 20px;
    color: #4caf50;
    font-weight: bold;
}

.light {
    background-color: white;
    color: black;
  }
  
  .dark {
    background-color: black;
    color: white;
  }
  
  